*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  user-select: none;
}

body{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(32, 29, 29);
  padding: 20px;
}
.sidebar{
  width: 25%;
  padding: 20px;
  background-color: gray;
  color: white;
}
.game{
  display: flex;
  justify-content: space-evenly;
}
.gamespace{
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
}
.loc{
  margin: 10px;
}
.brewer,
.recipesIngredients,
.loc,
.currency,
.shop{
  background-color: rgb(32, 29, 29);
  padding: 20px;
  margin: 10px;
  width: 25%;
}
.alert{
  width: 100%;
  background-color: rgb(32, 29, 29);
  padding: 20px;
  margin: 10px;
}
input{
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 5px;
  border-bottom: 1px solid black;
}
input:focus{
  border-bottom: 1px solid white;
}


@media only screen and (max-width: 1068px) {
  body{
    display: block;
  }
  .sidebar{
    width: 100%;
  }
  .game{
    width: 100%;
    display: block;
  }
  .brewer,
  .recipesIngredients,
  .loc,
  .currency,
  .shop{
    width: 100%;
  }
}

i{
  font-family: “Font Awesome 5 Free“;
  font-weight: 900;
}
button{
  border: none;
  outline: none;
  background-color: black;
  color: yellow;
  padding: 10px;
}

button:hover{
  border: 1px solid white;
}

input{
  text-transform: uppercase;
}
ul{
  list-style-type: none;
}
